/*
 * Filename: partials/variables.scss
 * Additional variables for the project
 * 
 */

$dkgrey: #444444;
$ltgrey: #888888;
$white: #ffffff;


$ltYellow: #f5ffbf;
$yellow: #dbeb65;
$green: #519963;
$ltBlue: #146665;
$dkBlue: #0c3c40;

$defaultHeight: 40px;

$ctyFont: "Montserrat", sans-serif;

$ctyAnimation: all 0.2s ease-in-out;